
<ion-content class="ion-padding">
  <ion-list>
    <form>
      <ion-item>
        <ion-input placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password"></ion-input>
      </ion-item>
      <ion-button>Ingresar</ion-button>
    </form>
  </ion-list>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>